@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Roboto&display=swap');
ul li{
	list-style: none;
}
.container{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 100px 400px 100px;
}
.header{
	grid-column: span 12;
	
}
.sidebar{
	grid-column: span 2;
	
}
.main{
	grid-column: span 10;
	
}

.header{
	display: flex;
	align-items: center;
	height: 100px;
	background: white;
}

.header .header-left{
	display: flex;
	width: 280px;
	align-items: center;
}
.header .header-left .material-icons{
	padding-left: 24px;
	padding-right: 24px;
	cursor: pointer;
	color: black;
}
.header img{
	width: 50%;
	height: 50%;
	display: block;
}



.header .header-search{
	height: 40px;
	display: flex;
	align-items: center;
	flex: 1;


}
.header .header-search form {
	height: 40px;
	display: flex;
	align-items: center;
    flex: 1;
    
	
   
}
.header .header-search  input{
	margin-left: 30px;
	height: 100%;
	width: 100%;
	font-size: 16px;
	border-color: #e3e3e3;
	padding: 0 8px;
	border-radius: 1px;

}
.header .header-search .search{
	width: 57px;
	height: 45px;
	background: #e3e3e3;
	border: none;
	cursor: pointer;
}

.header .header-search form .material-icons{
	font-size: 35px;
	color: black;
	margin-right: 8px;
	cursor: pointer;
}
.header .header-search .voice-search{
	width: 40px;
	height: 40px;
	margin-left: 5px;
	border-radius: 50%;
	border: none;
	background: #e3e3e3;
}
.header .header-right{
	width: 290px;
	justify-content: flex-end;
	display: flex;
	align-items: center;
	margin-left: 60px;
}
.header .header-right .right-apps{
	margin-right: 20px;
	padding: 8px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.header .header-right .right-apps .material-icons{
	font-size: 30px;
	color: black;
}
.header .header-right .header-morevert{
	margin-right: 20px;
	padding: 8px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.header .header-right .header-log-in{
	width: 140px;
	height: 40px;
	font-weight: 500;
	line-height: 40px;
	color: #3ea4fc ;
	border: 1.2px solid #3684c7;
	background-color: transparent;
	display: inline-block;
	margin-right: 20px;
	justify-content: center;
	cursor: pointer;
}

/*sidebar*/

::-webkit-scrollbar{
	width: 9px;
	background-color: lightgray;
}
::-webkit-scrollbar-thumb{
	background-color: gray;
	border-radius: 5px;
}
.sidebar .product-list{
	margin: 0px;
	padding: 0px;
	float: left;
	display: inline;
	overflow-y: scroll;
    height: 900px;
    width: 200px;

}

.sidebar .product-list li{
	display: flex;
	margin: 10px;
	width: 200px;
	padding: 10px;
}

.sidebar .product-list li:hover{
	background-color: lightgray;
}

.sidebar .product-list .active{
	background-color: lightgray;

	
}
.sidebar .product-list span .clearfix{
	color: lightgray;
	margin: 0;
	width: 100%;
}
.sidebar .product-list li a{
    text-decoration: none;
    font-size: 14px;
    color: black;
    margin-left: 15px;
    font-family: Comic Sans MS;
} 
.sidebar .product-list h3{
	font-family: Arial;
	margin: 10;
}
.sidebar .product-list-right{
	width: 1000px;
	float: right;
	margin-top: 0px;
	margin-left: 10px;

}
.sidebar .product-list-right button{
	
	margin-left: 10px;
    background-color: white;
	padding: 10px;
	cursor: pointer;
	border-radius: 30%;
}
.sidebar .product-list-right button:hover{
	background-color:lightgray;
}

.sidebar .product-list-right button a{
	font-size: 13px;
	font-family: Arial;
	color: black;
}
.sidebar .product-list-right .active{
	background-color: darkgray;
	font-style: white;
}

#content .content-left{
	
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
#content .content-left .intals img{
	cursor: pointer;
	margin:0;
	padding: 0;
	border-radius: 50%;


}
.main {
	margin: 0;
	padding: 0;
}
.main .main-list{
	margin-left: 20px;
	margin: 0;
	padding: 0;

}
.main .main-list button {
	margin-left: 30px;
	padding: 8px;
	border-radius: 20px;
	cursor: pointer;
	border: 0 solid gray;

}
.main .main-list button.active{
	background-color: black;
	color: white;
}
.main .main-list button:hover{
	background-color: black;
	color: white;
}

 .content .service-list{
   width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;

	
}
.container .service-list li{
     width: 300px;
     padding: 10px;
     position: relative;
     margin: 0;
     
}
.content .service-list .service-img img{
	width: 100%;
	cursor: pointer;
	

}
.content .service-list .inner{
	display: flex;
	margin: 0;
	padding: 0;
}
.content .service-list .inner #img{
	border-radius: 45px;
	cursor: pointer;

}

.content .service-list .inner a{
	text-decoration: none;
	margin: 10px;
	padding: 10px;
	font-size: 15px;
	
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	color: black;
	margin: 0;
	padding: 0;

}
.content .service-list .info {
	margin-top: 0;
	margin-left: 40px;
	color: gray;
    padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
}
